/.vs/IrisSolution/v15/*.suo
/.vs/IrisSolution/v15/Server/sqlite3/*.lock
/.vs/IrisSolution/v15/Server/sqlite3/*.ide
/.vs/IrisSolution/v15/Server/sqlite3/*.ide-shm
/.vs/IrisSolution/v15/Server/sqlite3/*.ide-wal
/Codigo/bin/Debug/Alea.CUDA.CT.LibDevice/*.bc
/Codigo/bin/Debug/Alea.CUDA.CT.LibDevice/*
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B32.Windows/*.dll
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B32.Windows/*
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.Linux/*
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.Linux/*.so
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.MacOSX/*
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.MacOSX/*.dylib
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.Windows/*.dll
/Codigo/bin/Debug/Alea.CUDA.CT.Native.X86.B64.Windows/*
/Codigo/bin/Debug/*.dll
/Codigo/bin/Debug/*.xml
/Codigo/bin/Debug/*.exe
/Codigo/bin/Debug/*.config
/Codigo/bin/Debug/*.pdb
/Codigo/bin/Debug/cs/*.dll
/Codigo/bin/Debug/de/*.dll
/Codigo/bin/Debug/en/*.dll
/Codigo/bin/Debug/es/*.dll
/Codigo/bin/Debug/fr/*.dll
/Codigo/bin/Debug/it/*.dll
/Codigo/bin/Debug/ja/*.dll
/Codigo/bin/Debug/ko/*.dll
/Codigo/bin/Debug/pl/*.dll
/Codigo/bin/Debug/pt-BR/*.dll
/Codigo/bin/Debug/ru/*.dll
/Codigo/bin/Debug/tr/*.dll
/Codigo/bin/Debug/zh-Hans/*.dll
/Codigo/bin/Debug/zh-Hant/*.dll
/Codigo/obj/Debug/*.cache
/Codigo/obj/Debug
/packages/Alea.3.0.4/*.p7s
/packages/Alea.3.0.4/*.nupkg
/packages/Alea.3.0.4/*.fsx
/packages/Alea.3.0.4/build/*.targets
/packages/Alea.3.0.4/lib/net45/*.dll
/packages/Alea.3.0.4/lib/net45/*.XML
/packages/Alea.3.0.4/tools/*.dll
/packages/Alea.3.0.4/tools/*.exe
/packages/FSharp.Core.4.6.2/*.p7s
/packages/FSharp.Core.4.6.2/*.nupkg
/packages/FSharp.Core.4.6.2/lib/net45/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/*.optdata
/packages/FSharp.Core.4.6.2/lib/net45/*.sigdata
/packages/FSharp.Core.4.6.2/lib/net45/*.xml
/packages/FSharp.Core.4.6.2/lib/net45/cs/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/de/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/en/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/es/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/fr/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/it/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/ja/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/ko/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/pl/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/pt-BR/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/ru/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/tr/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/zh-Hans/*.dll
/packages/FSharp.Core.4.6.2/lib/net45/zh-Hant/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/*.optdata
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/*.sigdata
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/*.xml
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/cs/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/de/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/en/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/es/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/fr/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/it/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/ja/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/ko/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/pl/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/pt-BR/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/ru/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/tr/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/zh-Hans/*.dll
/packages/FSharp.Core.4.6.2/lib/netstandard1.6/zh-Hant/*.dll
/packages/NeuralNetwork.NET.2.1.2/*.p7s
/packages/NeuralNetwork.NET.2.1.2/*.nupkg
/packages/NeuralNetwork.NET.2.1.2/lib/netstandard2.0/*.dll
/packages/NeuralNetwork.NET.2.1.2/lib/netstandard2.0/*.xml
/packages/SixLabors.Core.1.0.0-beta0007/*.p7s
/packages/SixLabors.Core.1.0.0-beta0007/*.nupkg
/packages/SixLabors.Core.1.0.0-beta0007/lib/netcoreapp2.0/*.dll
/packages/SixLabors.Core.1.0.0-beta0007/lib/netcoreapp2.0/*.xml
/packages/SixLabors.Core.1.0.0-beta0007/lib/netcoreapp2.1/*.dll
/packages/SixLabors.Core.1.0.0-beta0007/lib/netcoreapp2.1/*.xml
/packages/SixLabors.Core.1.0.0-beta0007/lib/netstandard1.3/*.dll
/packages/SixLabors.Core.1.0.0-beta0007/lib/netstandard1.3/*.xml
/packages/SixLabors.Core.1.0.0-beta0007/lib/netstandard2.0/*.dll
/packages/SixLabors.Core.1.0.0-beta0007/lib/netstandard2.0/*.xml
/packages/SixLabors.ImageSharp.1.0.0-beta0006/*.p7s
/packages/SixLabors.ImageSharp.1.0.0-beta0006/*.nupkg
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/net472/*.dll
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/net472/*.xml
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netcoreapp2.1/*.dll
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netcoreapp2.1/*.xml
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netstandard1.3/*.dll
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netstandard1.3/*.xml
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netstandard2.0/*.dll
/packages/SixLabors.ImageSharp.1.0.0-beta0006/lib/netstandard2.0/*.xml
/packages/System.Buffers.4.5.0/*.p7s
/packages/System.Buffers.4.5.0/*.TXT
/packages/System.Buffers.4.5.0/*.nupkg
/packages/System.Buffers.4.5.0/lib/netcoreapp2.0/*._
/packages/System.Buffers.4.5.0/lib/netstandard1.1/*.dll
/packages/System.Buffers.4.5.0/lib/netstandard1.1/*.xml
/packages/System.Buffers.4.5.0/lib/netstandard2.0/*.dll
/packages/System.Buffers.4.5.0/lib/netstandard2.0/*.xml
/packages/System.Buffers.4.5.0/lib/uap10.0.16299/*._
/packages/System.Buffers.4.5.0/ref/net45/*.dll
/packages/System.Buffers.4.5.0/ref/net45/*.xml
/packages/System.Buffers.4.5.0/ref/netcoreapp2.0/*._
/packages/System.Buffers.4.5.0/ref/netstandard1.1/*.dll
/packages/System.Buffers.4.5.0/ref/netstandard1.1/*.xml
/packages/System.Buffers.4.5.0/ref/netstandard2.0/*.dll
/packages/System.Buffers.4.5.0/ref/netstandard2.0/*.xml
/packages/System.Buffers.4.5.0/ref/uap10.0.16299/*._
/packages/System.Buffers.4.5.0/*.txt
/packages/System.Memory.4.5.2/*.p7s
/packages/System.Memory.4.5.2/*.TXT
/packages/System.Memory.4.5.2/*.nupkg
/packages/System.Memory.4.5.2/lib/netcoreapp2.1/*._
/packages/System.Memory.4.5.2/lib/netstandard1.1/*.dll
/packages/System.Memory.4.5.2/lib/netstandard1.1/*.xml
/packages/System.Memory.4.5.2/lib/netstandard2.0/*.dll
/packages/System.Memory.4.5.2/lib/netstandard2.0/*.xml
/packages/System.Memory.4.5.2/ref/netcoreapp2.1/*._
/packages/System.Memory.4.5.2/*.txt
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/*.p7s
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/*.TXT
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/*.nupkg
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/MonoAndroid10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/MonoTouch10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/net46/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/net46/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/netcoreapp2.0/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/netstandard1.0/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/netstandard1.0/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/netstandard2.0/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/netstandard2.0/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/portable-net45+win8+wp8+wpa81/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/portable-net45+win8+wp8+wpa81/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/uap10.0.16299/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/xamarinios10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/xamarinmac20/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/xamarintvos10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/lib/xamarinwatchos10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/MonoAndroid10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/MonoTouch10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/net45/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/net45/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/net46/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/net46/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/netcoreapp2.0/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/netstandard1.0/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/netstandard1.0/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/netstandard2.0/*.dll
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/netstandard2.0/*.xml
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/uap10.0.16299/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/xamarinios10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/xamarinmac20/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/xamarintvos10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/ref/xamarinwatchos10/*._
/packages/System.Numerics.Vectors.4.6.0-preview4.19212.13/*.txt
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/*.p7s
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/*.TXT
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/*.nupkg
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netcoreapp2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netcoreapp2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netstandard1.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netstandard1.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netstandard2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/lib/netstandard2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/ref/netstandard1.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/ref/netstandard1.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/ref/netstandard2.0/*.dll
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/ref/netstandard2.0/*.xml
/packages/System.Runtime.CompilerServices.Unsafe.4.6.0-preview4.19212.13/*.txt
