<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Alea" version="3.0.4" targetFramework="net472" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net472" />
  <package id="NeuralNetwork.NET" version="2.1.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net472" />
  <package id="SixLabors.Core" version="1.0.0-beta0007" targetFramework="net472" />
  <package id="SixLabors.ImageSharp" version="1.0.0-beta0006" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview4.19212.13" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview4.19212.13" targetFramework="net472" />
</packages>